{% extends 'ToDoList/base.html' %}

{% block title %}
    Worlds | Minecraft Tasks
{% endblock %}

{% block content %}<center>
<div class="container-md">
    <div class="row">
        {% for world in worlds %}
        <div class="col-md-4 mb-4">
            <div class="card"><center>
                <div class="card-body">
                    <h4 class="card-title">{{ world.name }}</h4>
                    <hr>
                    <p class="card-text">Created: {{ world.created_time }}</p>
                    <p class="card-text">World Point: # {{ world.progress_point }}</p>
                    <div class="d-flex justify-content-end"><center>
                        <a href="{% url 'WorldTasks:show_task' world.id %}" class="btn btn-outline-info btn-sm">View Tasks</a>
                        <form class="d-inline-block" method="post" action="{% url 'WorldTasks:delete_world' world.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm ml-2">
                                <i class="bi bi-trash"></i> Delete
                            </button>
                        </form></center>
                    </div>
                </div></center> 
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <div class="container-sm text-center" id="createWorldBox">
        <a href="{% url 'WorldTasks:create_world' %}" class="btn btn-primary btn-lg" role="button">
            <div class="create-world-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg>
                Create A New World
            </div>
        </a>
    </div>
</div></center>
{% endblock %}
