{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'SignLog/style.css' %}">
    <link rel="icon" type="image/jfif" href="{% static 'SignLog/_903ea78e-3359-4bdb-b81c-6c390ba1fb71.jfif' %}">
    <title>LogIn | Minecraft Task</title>
</head>
<body>
    
  <form method="post">
    <h2>Login</h2>
    {% csrf_token %}
    <label for="username">Username or Email:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <button type="submit">Login</button>
    <p>Don't have a Account? Click <a href="{% url 'SignLog:signup' %}">Here!</a></p>
    {% if error_message %}
        <p class="error-message">{{ error_message }}</p>  <!-- Display error_message if it exists -->
    {% endif %}
  </form>
    
</body>
</html>